# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log
